{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <h1 class="display-4 text-primary">Bond Detail</h1>
    {{ ql_bond }}
    {{ ql_bond.dirtyPrice }}
    <div class="table rounded-4">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>ISIN</th>
                <th>Is Active</th>
                <th>Issue_date</th>
                <th>Maturity_date</th>
                <th>Issue Price</th>
                <th>Coupon Rate</th>
                <th>Coupon Frequency</th>
                <th>Redemption</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ bond.name }}</td>
                <td>{{ bond.ISIN }}</td>
                <td>{{ bond.is_active }}</td>
                <td>{{ bond.issue_date }}</td>
                <td>{{ bond.maturity_date }}</td>
                <td>{{ bond.issue_price }}</td>
                <td>{{ bond.coupon_rate }}</td>
                <td>{{ bond.coupon_frequency }}</td>
                <td>{{ bond.redemption }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}