{% extends 'base.html' %}

{% block content %}

<div class="display-1 text-center text-primary height-vh-50">
    <p>Hello from Bonds</p>
    <p>Title: {{ title }}</p>
    <p>New text: {{ new_data }}</p>
</div>

<div class="row my-5 display-5 text-center hero-section bg-hero-5 rounded-4 shadow">
    <p class="my-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Accusantium animi cumque dicta dolore dolorem ex harum impedit,
        laboriosam laborum libero minima neque nihil, obcaecati perspiciatis
        quibusdam reiciendis repellat sit voluptates.
    </p>
</div>
<div class="row my-4">
    <div class="row text-center align-items-center justify-content-center mx-auto">
    <div class="card col-3 mx-4">
        <div class="card-body">
            <h5 class="card-title"><a href="{% url 'bonds:create_bond' %}">Create bond</a></h5>
            <div class="border-bottom mb-3"></div>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque eos in inventore maxime natus nihil nostrum quasi ratione vero vitae. A consectetur minus molestias nesciunt nostrum numquam, quibusdam sit voluptatem.</p>
        </div>
    </div>
    <div class="card col-3 mx-4">
        <div class="card-body">
            <h5 class="card-title"><a class='link' href="{% url 'bonds:list_bonds' %}">List Bonds</a></h5>
            <div class="border-bottom mb-3"></div>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque eos in inventore maxime natus nihil nostrum quasi ratione vero vitae. A consectetur minus molestias nesciunt nostrum numquam, quibusdam sit voluptatem.</p>
        </div>
    </div>
    <div class="card col-3 mx-4">
        <div class="card-body">
            <h5 class="card-title"><a href="{% url 'bonds:list_bonds' %}">Edit bond</a></h5>
            <div class="border-bottom mb-3"></div>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque eos in inventore maxime natus nihil nostrum quasi ratione vero vitae. A consectetur minus molestias nesciunt nostrum numquam, quibusdam sit voluptatem.</p>
        </div>
    </div>
    </div>
</div>
{% endblock %}